* {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
.header {
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}
.logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu {
    float: right;
    line-height: 100px;
}
.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}
.show-menu-btn,.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn {
    float: right;
}
.show-menu-btn i {
    line-height: 100px;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover {
    color: #3498db;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.contents {
    padding: 0 20px;
}
#background {
    position: relative;
    text-align: center;
}
#app-1 {
    position: absolute;
    color:#fff;
    font-size: 32px;
    top: 30%;
    left: 65%;
    font-family: 'Caveat', cursive;
}
#app-2 {
    position: absolute;
    color:#fff;
    font-size: 32px;
    top: 35%;
    left: 75%;
    font-family: 'Caveat', cursive;
}
#background img{
    width: 100%;
}
#button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#button:hover{
    background: #2ecc71;
}
#PageTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}
#PageTopBtn a:hover {
    text-decoration: none; 
    background: #87cefa; /*マウスオーバー時の背景色*/
}

@media screen and (max-width:650px) {
    #app-1 {
        visibility: hidden;
    }
    #app-2 {
        visibility: hidden;
    }
}
@media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu {
        right: 0;
    }
    #PageTopBtn {
        font-size: 10px;
    }
    #PageTopBtn a {
        width: 70px;
        height: 50px;
        padding: 17px 0;
    }
}